package components

import "github.com/ddahon/jobboard/internal/pkg/models"

templ JobCard(job models.Job) {
	<a href={ templ.URL(job.Link) } target="_blank" rel="noopener noreferrer" class="block h-full p-6 border border-gray-200 rounded-lg shadow hover:bg-indigo-700 bg-gray-800">
		<h5 class="mb-2 text-xl font-bold tracking-tight text-white">{ job.Title }</h5>
		<p class="font-normal text-gray-400">{ *job.Company.Name }</p>
	</a>
}
